[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
peewee = "*"
pymysql = "*"
flask = "*"
flask-jwt = "*"
flask-script = "*"
faker = "*"
flask-login = "*"

[dev-packages]

[requires]
python_version = "3.6"
